/*styles_index.css*/

body {
margin: 0%;
}

/*
<style type="text/css"> 
a:link 
{ 
text-decoration:none; 
} 
</style> */

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN.ttf") format("TrueType");
}
.BarreTopPage {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #333132;
}


div#logo {
    width: 30%;
    background-color: #333132;
}

.titre {
    margin: 0%;

    color: white;
    font-family: "DIN";
    font-size: 350%;

    background-color: #333132;
    width: 100%;

    text-align: center;
    padding-left: 20px;
} 





div#bgimg {
    background-image: url(../image/autre/Banniere.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 377px;
}



.navbar {

    background-color: #333132;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
}

.textNB {
    font-family: "DIN";
    color: white;
    text-decoration:none; 
    font-size: 30px;
    padding-left: 80px;
    padding-right: 80px;

}
























/* .bg-image--1 { ..image/autre/Banniere.jpg" alt="bannière"; }

<img src="image/Banniere.jpg" alt="bannière" />

<img src="image/Banniere.jpg" alt="bannière" /> 
*/