/*styles_index.css*/

body {
margin: 0%;
}

/*
<style type="text/css"> 
a:link 
{ 
 text-decoration:none; 
} 
</style> */

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN.ttf") format("TrueType");
}
.BarreTopPage {
    display: grid;
    width: 100%;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto;
}


div#logo {
    background-image: url(../image/autre/DOOR-ITOS.svg);
    background-repeat: no-repeat;
    height: 200px;
    padding: 0;
    background-color: #333132;
    grid-column: 1;
    grid-row: 1;
}


.titre {
    margin: 0%;

    color: white;
    font-family: "DIN";
    font-size: 350%;
    padding-left: 5%;

    background-color: #333132;
    width: 100%;

    grid-column: 2;
    grid-row: 1;
} 





div#bgimg {
    background-image: url(../image/autre/Banniere.jpg);
    background-repeat: no-repeat;
    width: 100%;
    height: 377px;
}



.navbar {

    background-color: #333132;
    grid-column: 3;
    grid-row: 1;
    
}

.textNB {
    font-family: "DIN";
    color: white;
    text-decoration:none; 

}
























/* .bg-image--1 { ..image/autre/Banniere.jpg" alt="bannière"; }

<img src="image/Banniere.jpg" alt="bannière" />

<img src="image/Banniere.jpg" alt="bannière" /> 
*/