/*styles_index.css*/

body {
margin: 0%;
}

/*
<style type="text/css"> 
a:link 
{ 
text-decoration:none; 
} 
</style> */

@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
    user-zoom: yes;
 }

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN.ttf") format("TrueType");
}
.BarreTopPage {
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    background-color: #333132;
}

.box {
    height :1vh ;
    width: 99.65vw;
    background : #F57E00 ;
    }





.logo {
    
    height: 20vh;
}

.titre {
    margin: 0%;

    color: white;
    font-family: "DIN";
    font-size: 350%;

    background-color: #333132;
    width: 100%;

    text-align: center;
    padding-left: 20px;
} 





img#bgimg {
    /*background-image: url(../image/autre/Banniere.jpg);*/
    background-repeat: no-repeat;
    height: 377px;
}


body#body {

    background-color: #333132;

}




.navbar {

    background-color: #333132;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
}


.textNB:hover{
    color: #F57E00;
    text-decoration-line: overline #555555;
    background-color: #555555;
}


.filtre {
    color: black;
    font-size: 40px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

.lesfiltres {
    font-size: 30px;

}



.textNB {
    font-family: "DIN";
    color: white;
    text-decoration:none; 
    font-size: 30px;
    padding-left: 80px;
    padding-right: 80px;

}

.RemonterEnHaut {
    position: fixed;
    bottom: 10px;
    right: -100px;
    opacity: 0.5;
    
}

.BarreDeFiltre {
background-color: #CCCCCC;
margin-top: -1%;
    

}




.footer{
    background-color: #333132;
}


.textlienF{
    font-family: "DIN";
    color: white;
    text-decoration:none;
    text-decoration-line: underline;
    font-size: 22px;

}
.textlienF:hover{
    color: #F57E00;
}

.textBasicF {
    color: white;
    font-size: 22px;


}

.TitreFooter {
    margin: 0%;

    color: white;
    font-family: "DIN";
    font-size: 350%;

    background-color: #333132;
    width: 100%;
}

.SectionGrid{
    display: grid;
    grid-template-columns: auto auto auto ;
    grid-template-rows: auto auto auto;
    margin-top: 5em;
}

.test {
margin-top: 5em;
background-color: #333132;


}
/*
.divIMG {

    background-color: #333132;
}
*/










/* .bg-image--1 { ..image/autre/Banniere.jpg" alt="bannière"; }

<img src="image/Banniere.jpg" alt="bannière" />

<img src="image/Banniere.jpg" alt="bannière" /> 
*/

.titrePerso {
    color: black;
    font-family: "DIN";
    font-size: 50px;

}

.MenuPerso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #CCCCCC;
    height: 80vh;
    width: 100vw;

}



.Cadreimage {
    background-color: #222222;
    max-width: 74.8vh;
    max-height: 45vw;
    height: 74.8vh;
    width: 45vw;
    margin-right: 2vw;


}

.CadrePersonnalisation {
    background-color: #333333;
    max-width: 74.8vh;
    max-height: 45vw;
    height: 74.8vh;
    width: 45vw;
    margin-left: 2vw;

}


.topcadre {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #555555;
    height: 4.5vh;


}


.titrepara {
    color: white;
    margin-top: 0px;
    font-family: "DIN";
    font-size: 30px;
    padding-left: 2vw;
    padding-top: 1.5vh;

}
/*
.d2part {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #AAAAAA;
    height: 4.5vh;
    border-bottom: 0.1vh;
}
*/
.d2part {
    display: flex;
    flex-shrink: 0;
    flex-flow: row nowrap;
    background-color: #AAAAAA;
    height: 4.5vh;
    border: 0.1vh solid rgb(234, 234, 234);
}

h3#nomPerso {
    order: 1;
    justify-self: start; 
    color: white;
    font-family: "DIN";
    font-size: 20px;
    

}


.Bprevious {
    order: 2;
    cursor: pointer;
    padding-right: 1vw;
    padding-left: 1vw;

}

.Bnext {
    cursor: pointer;
    order: 3;
    padding-right: 1vw;
    padding-left: 1vw;
}









.commander {
    text-align: center;

}


