/*styles_index.css*/

body {
margin: 0%;
}

/*
<style type="text/css"> 
a:link 
{ 
text-decoration:none; 
} 
</style> */

@viewport {
    width: device-width; /* largeur du viewport */
    zoom: 1; /* zoom initial à 1.0 (et clin d'oeil aux fans d'IE6/7) */
    user-zoom: yes;
}

@font-face {
    font-family: "DIN";
    src: url("../fonts/DIN.ttf") format("TrueType");
}

.BarreTopPage {
    display: flex;
    justify-content: flex-start;
    flex-direction: row;
    align-items: center;
    background-color: #333132;
}

.box {
    height :1vh ;
    width: 100%;
    background : #F57E00;
    margin-bottom: 0%;
    }


.bgimg2 {
    background-image: url("../image/autre/Banniere.jpg");
    background-size: cover;
    position: relative;
    height: 300px;
}

.titre2 {
    background-color: black;
    background: rgba(0, 0, 0, 0.8);
    color: white;
    font-size: 5em;
    font-family: "DIN";
    padding: 1%;
    width: 40%;
    text-align: center;
    position: absolute;
    margin-left: 27%;
}

.logo {  
    width: 50%;
}

.titre {
    margin: 0%;

    color: white;
    font-family: "DIN";
    font-size: 350%;

    background-color: #333132;
    width: 100%;

    text-align: center;
    padding-left: 20px;
} 

body#body {
    background-color: #333132;
}

.navbar {
    background-color: #333132;
    display: flex;
    justify-content: stretch;
    flex-direction: row;
    margin-left: 25%;
}

.textNB {
    font-family: "DIN";
    color: white;
    text-decoration:none; 
    font-size: 150%;
    padding-left: 25%;
    padding-right: 25%;
}

.textNB:hover{
    color: #F57E00;
    text-decoration-line: overline #555555;
    background-color: #555555;
}

.filtre {
    color: black;
    font-size: 30px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.lesfiltres {
    font-size: 20px;

}



.BarreDeFiltre {
    background-color: #CCCCCC;
    padding: 1%;
}


#basdepage{
    background-color: #333132;
}

.textlienF{
    font-family: "DIN";
    color: white;
    text-decoration:none;
    text-decoration-line: underline;
    font-size: 22px;
}

.textlienF:hover{
    color: #F57E00;
}

.textBasicF {
    color: white;
    font-size: 22px;
}

.TitreFooter {
    margin: 0%;

    color: white;
    font-family: "DIN";
    width: 100%;
}

.SectionGrid{
    display: grid;
    grid-template-columns: auto auto auto;
    grid-template-rows: auto auto auto;
    margin-top: 5em;
}


.test {
    margin-top: 5em;
    background-color: #333132;
}

.Prix {
    color: white;
    margin-top: 5%;
    margin-bottom: 10%;
    margin-left: 55%;
    font-family: "DIN";
    font-size: 25px;
}

.divIMG {
    margin-left: 33.33%;
    margin-right: 33.33%;
    height: 50%;
}








/*
.bg-image--1 { ..image/autre/Banniere.jpg" alt="bannière"; }

<img src="image/Banniere.jpg" alt="bannière" />

<img src="image/Banniere.jpg" alt="bannière" /> 
*/

.titrePerso {
    color: black;
    font-family: "DIN";
    font-size: 50px;
}

.MenuPerso {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: #CCCCCC;
    height: 80vh;
    width: 100vw;
}

.Cadreimage {
    background-color: #222222;
    max-width: 74.8vh;
    max-height: 45vw;
    height: 74.8vh;
    width: 45vw;
    margin-right: 2vw;
}

.CadrePersonnalisation {
    background-color: #333333;
    max-width: 74.8vh;
    max-height: 45vw;
    height: 74.8vh;
    width: 45vw;
    margin-left: 2vw;
}

.topcadre {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: #555555;


}

.titrepara {
    color: white;
    margin-top: 0px;
    font-family: "DIN";
    font-size: 30px;
    padding-left: 2vw;
    padding-top: 1.5vh;
}

/*
.d2part {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    background-color: #AAAAAA;
    height: 4.5vh;
    border-bottom: 0.1vh;
}
*/

.d2part {
    display: flex;
    flex-shrink: 0;
    flex-flow: row nowrap;
    background-color: #AAAAAA;
    border: 0.1vh solid rgb(234, 234, 234);
}

h3#nomPerso {
    order: 1;
    justify-self: start; 
    color: white;
    font-family: "DIN";
    font-size: 20px;
    margin-left: 5%;
}

.Bprevious {
    order: 2;
    cursor: pointer;
    padding-right: 1vw;
    padding-left: 1vw;
    margin-left: 66.3%;
}

.Bnext {
    cursor: pointer;
    order: 3;
    padding-right: 1vw;
    padding-left: 1vw;
}

.commander {
    text-align: center;
}

#remonter {
    position: fixed;
    bottom: 10px;
    right: -100px;
    opacity: 0.9;
}