div,
nav,
body,
header,
footer,
ul,
li,
a {
    margin: 0em;
    padding: 0em;
    text-decoration: none;
}

nav {
    background-color: rgb(35, 37, 37);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-grow: 4;
    flex-wrap: nowrap;
    align-items: center;
    gap: 1em;
}

nav img {
    padding: 0.5em;
    width: 2em;
    height: 2em;
}

nav a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding: 1em;
}

nav a div.logo {
    display: flex;
    align-items: center;
    gap: 1em;
}

nav a div.logo img {
    height: 1.2em;
    padding: 0em;
}

nav a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(233, 233, 233);
    cursor: pointer;
    transition: .3s ease;
}

nav a.active {
    pointer-events: none;
    color: rgb(27, 207, 7);
}

.section1 {
    text-align: center;
    overflow: auto;
    background-image: url("landscape1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.section2 {
    text-align: center;
    overflow: auto;
    background-image: url("landscape2.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.section3 {
    text-align: center;
    background-image: url("landscape3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.textR {
    margin-top: 5vh;
    opacity: 0.7;
    background-color: black;
    font-size: 30px;
    color: white;
    position: absolute;
    left: 50vw;
    right: 5vw;
    padding: 1em;
}

.textL {
    margin-top: 5vh;
    opacity: 0.7;
    background-color: black;
    font-size: 30px;
    color: white;
    position: absolute;
    left: 5vw;
    right: 50vw;
    padding: 1em;
}

@media (max-width: 1100px) {
    .textR {
        font-size: 25px;
        left: 30vw;
    }
    .textL {
        font-size: 25px;
        right: 30vw;
    }
}

@media (max-width: 600px) {
    .textR {
        font-size: 20px;
        left: 5vw;
    }
    .textL {
        font-size: 20px;
        right: 5vw;
    }
}

footer {
    padding: 1em;
    background-color: rgb(35, 37, 37);
    overflow: auto;
}

footer ul li.contact {
    text-align: center;
    display: block;
}

footer ul li.autre {
    display: block;
    padding: 0.5em;
}

footer ul li a {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding: 1em;
}

footer ul li a:hover {
    text-decoration: underline;
}

.formulaire {
    margin: 4vw 8vw;
    padding: 1vw;
    background-color: rgb(16, 160, 0);
    color: rgb(35, 37, 37);
    border: none;
    border-radius: 0.4em;
}

.misenform {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

label {
    font-size: 20px;
    margin-left: 1em;
}

input[type=text],
input[type=date] {
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: 0.4em;
}

textarea {
    padding: 1em;
    margin: 1em;
    border: none;
    border-radius: 0.4em;
    height: 200px;
}

input[type=submit],
input[type=reset] {
    padding: 1em 7em;
    margin: 1vh 10vw;
    border: none;
    border-radius: 0.4em;
    background-color: rgb(35, 37, 37);
    color: rgb(27, 207, 7);
    cursor: pointer;
}

.Titre {
    padding: 1em;
    text-decoration: underline;
    text-align: center;
    font-size: 50px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.text {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5vw;
    padding: 1em;
}

ol li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-left: 5vw;
    padding: 1em;
}

#scrlbutton {
    z-index: 99;
    display: none;
    position: fixed;
    bottom: 2vw;
    right: 2vw;
    padding: 1em;
    border: none;
    border-radius: 0.4em;
    background-color: rgb(27, 207, 7);
    color: rgb(35, 37, 37);
}

#scrlbutton:hover {
    color: rgb(27, 207, 7);
    background-color: rgb(35, 37, 37);
    transition: .3s ease;
    cursor: pointer;
}

h1.prod {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

p.prod {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.miseenpageproduit {
    display: flex;
    flex-direction: row;
}

.filtres {
    top: 0vh;
    left: 0vw;
    width: 10vw;
    height: 100vh;
    padding: 1vw;
    background-color: rgb(35, 37, 37);
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 1em;
    position: sticky;
}

.btn {
    padding: 1em;
    border: 0vw;
}

.btn:hover {
    transition: .3s ease;
    background-color: rgb(27, 207, 7);
}


/*Partie Gabriel*/


/* --------------- Début de l'affichage des produits */

.boutique {
    /* Contient les produits affichés*/
    margin-left: 10vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.produit {
    /*Contient l'image, le titre et les couleurs du T-shirt */
    width: 20vw;
    padding: 0vw;
    margin: 2vw;
    box-shadow: 0 1vw 1vw 0 rgba(0, 0, 0, 0.2), 0 1vw 1vw 0 rgba(0, 0, 0, 0.20);
    text-align: center;
}

.produit:hover {
    width: 20vw;
    padding: 0vw;
    margin: 2vw;
    position: relative;
}

.produit:hover img {
    transition: .5s ease;
    opacity: 1;
}

.produit:hover .rond:hover {
    opacity: 1;
}

.produit:hover .rond {
    opacity: 0.7;
}

.produit img {
    opacity: 0.9;
}

.rond {
    /*défini les ronds merci captin obvious*/
    opacity: 0;
    border-radius: 50%;
    height: 1vw;
    width: 1vw;
    background-color: rgb(128, 128, 128);
    margin: 1vw;
}

.personnalisation {
    opacity: 1;
    position: relative;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    left: 10vw;
    bottom: 19vh; /*Hauteur des ronds de couleur*/
    display: flex;
}


/* ------------------ Fin de l'affichage des produits */


/*------------------- Affichage de la personnalisation*/

aside.sidebar {
    width: 15vw;
    display: flex;
    flex-direction: column;
    background-color: rgb(35, 37, 37);
}

img.aperçu {
    border-radius: 40%;
    margin: 3vw 4vw;
    width: 10vh;
}

main section {
    margin: 0vw 5vw;
}

.ImageProduit {
    width: 60vh;
    margin: 0vh 3vw;
}

main.MainPersonnalisation {
    display: flex;
    justify-content: start;
    align-items: flex-start;
    margin: 5vh 5vw;
    font-size: 1vw;
}

main.MainPersonnalisation section p {
    display: flex;
    justify-content: start;
    margin: 3vh 0vw;
}

.Description {
    display: flex;
    justify-content: start;
    flex-direction: column;
}

button.taille {
    /*Affichage d'un button de taille*/
    position: relative;
    border-color: black;
    border: 5vh 5vw solid black;
    background-color: rgb(255, 255, 255);
    color: rgb(6, 124, 6);
    margin: 3vh 2vw;
    padding: 1vh 1vw;
    text-align: center;
    width: 10vw;
    height: 7vh;
}

button.taille p {
    margin: 0;
    font-size: 2vw;
}

button.AjoutPanier {
    margin: 3vh 2vw;
    text-align: center;
}

button.Tailles {
    /*Conteuneur des button de taille*/
    display: flex;
    justify-content: start;
}

.InfoProduit {
    margin: 3vh 2vw;
    padding: 0vw;
    text-align: start;
}

.InfoProduit p {
    margin-left: 0vw;
    font-size: 1vw;
}

button.Quantité {
    margin: 3vh 2vw;
}


/* -------------Fin affichage Personnalisation */